    body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    }
    
    .navbar, footer {
        background-color: #80352F;
        color: white;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 90px;
        margin-left: 10px;
    }

    .navbar-links a, .footer-links a {
        color: white;
        text-decoration: none;
        margin: 0 25px;
    }

    .navbar-links {
        display: flex;
        flex-grow: 1;  /* This helps to distribute space more evenly */
        justify-content: center; /* Center all navbar links */
        gap: 20px; /* Adjust the gap to manage space between navigation links */
        margin-right: 300px; 
    }
    
    .nav-custom {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px 10px; /* Small padding around text and icon */
        margin-left: 10px; /* Manage left margin to bring items closer */
        margin-right: 10px; /* Manage right margin to bring items closer */
    }

    .nav-custom:last-child {
        margin-right: 0; 
    }

    .social-media {
        margin-top: 2px;
    }

    .social-media a {
        color: white;
        text-decoration: none;
        font-size: 24px;
    }


    /* Add the underline effect (joc) */
    .navbar-links a {
        color: white;
        text-decoration: none;
        margin: 0 25px;
        position: relative; /* Make the position relative to contain the absolute underline */
        display: inline-block; /* Ensures the anchor behaves correctly with width */
    }

    .navbar-links a .underline {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .navbar-links a:hover .underline {
        transform: scaleX(1); /* Expand the underline on hover */
    }



    
